/*Styles all elements of the HTML file.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Styles the entirety of the body element.*/
body {
    background-color: #d9dcd6;
}

/*Styles the header element.*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Styles the h1 element.*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Styles the span element within the h1 element..*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Styles the nav element.*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Styles the ul element.*/
.header nav ul {
    list-style-type: none;
}

/*Styles the li elements.*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Styles the a elements.*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Styles the p elements.*/
p {
    font-size: 16px;
}

/*Styles the figure element.*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Styles the 1st and 3rd img elements within the 1st article element.*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Styles the 2nd img element within the 1st article element.*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Styles the 1st article element within the figure element.*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Styles the 2nd article element within the figure element.*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Styles the 1st section element within the 2nd article element of the figure element.*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Styles the 2nd section element within the 2nd article element of the figure element.*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Styles the 3rd section element within the 2nd article element of the figure element.*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Styles the 1st h3 element.*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Styles the 2nd h3 element.*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Styles the 3rd h3 element.*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Styles the 1st img element within the 2nd article element.*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Styles the 2nd img element within the 2nd article element.*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Styles the 3rd img element within the 2nd article element.*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Styles the 1st section element within the 1st article element.*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Styles the 2nd section element within the 1st article element.*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Styles the 3rd section element within the 1st article element.*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Styles the 1st img element within the 1st article element.*/
.search-engine-optimization img {
    max-height: 200px;
}

/*Styles the 2nd img element within the 1st article element.*/
.online-reputation-management img {
    max-height: 200px;
}

/*Styles the 3rd img element within the 1st article element.*/
.social-media-marketing img {
    max-height: 200px;
}

/*Styles the 1st h2 element.*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Styles the 2nd h2 element.*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Styles the 3rd h2 element.*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Styles the footer element.*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Styles the h4 element.*/
footer h4 {
    font-size: 20px;
}
